<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data" />
	</configSections>
	<dataConfiguration defaultDatabase="EDStatus"/>
	<connectionStrings>
		<add name="EmployeeDailyStatus" connectionString="Server=180.151.61.78;database=testirdb;uid=IRDEV;Pwd=Ir!@dev65;enlist=false;" providerName="System.Data.SqlClient"/>			
	</connectionStrings>
	<appSettings>
		<add key="DATABASE_NAME" value="EmployeeDailyStatus" />
		<add key="EmailFrom" value="sarak@informativeresearch.com" />
		<add key="SMTPServer" value="exch" />
		<add key="SMTPPort" value="25" />
	</appSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
</configuration>